@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

.save-btn {
    background-color: #52FFA1;
    width: 200px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 11px;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    font-weight: bolder;
    text-transform: uppercase;

    cursor: pointer;
}