header {
    width: 100%;
    background-color: #fff;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: center;
}

.header-left-box {
    width: 33.33%;
}

.header-right-box {
    display: flex;
    flex-direction: row;
    width: 33.33%;
    text-align: right;
    margin-right: 5%;
}

.search-input {
    border-radius: 5px;
    width: 50%;
    height: 38px;
    padding: 2%;
    border: 0.2px solid #CFCFCF;
    text-decoration: none;
    outline: none;
}

.submit-icon-search {
    position: absolute;
    top: 20%;
    right: 1%;
    z-index: 10;
    border: none;
    background: transparent;
    outline: none;
}

.submit-line {
    position: relative;
    width: 100%;
}

.exit-system-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 150px;
    margin-left: 10px;
    vertical-align: middle;
}

.exit-system-button:hover {
    background-color: rgb(216, 0, 0);
}