#root {
    max-width: 100%;
}

.home-container {
    margin-left: 3%;
    margin-right: 3%;
    height: 90vh;
}

.graph-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 35vh;
}

.suggestion-debts {
    background-color: white;
    width: 35%;
    margin: 10px;
    height: auto;

}

.graph-debts {
    background-color: white;
    width: 35%;
    margin: 10px;
    height: auto;
}

.debts-per-months {
    background-color: white;
    width: 30%;
    margin: 10px;
}

.goals-and-legends-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 1%;
    height: 25vh;
}

.legends-box {
    display: flex;
    flex-direction: column;
    padding: 2%;
    font-size: 16px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    width: 71%;
    flex-wrap: 100px;
    margin: 10px;
}

.legend-topic-ball {
    padding: 0.7px;
    margin-right: 5px;
    border-radius: 70px;
    width: 10px;
    height: 10px;
    display: inline-block;
}

.legend-topic {
    margin: 2px;
}

.goals-box {
    width: 30%;
    margin: 10px;
}

.charts-title {
    font-size: 18px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: black;
}

.user-chart-info {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    margin-top: 20%;
}